.weather-table {
    height: auto;
    max-height: 550px;
    min-height: 400px;
    width: 100%;
}

.tabs_days{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tab_day{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(200, 200, 200, 0.62);
    border-right-style: none;
    cursor: pointer;
}
.tab_day:last-child{
    border-right-style: solid;
}
.tab_day.active{
    scale: 1.05;
    box-shadow: 0 -7px 7px rgb(64 60 67 / 50%);
    background-color: #fff;
    z-index: 1;
    border-bottom-style: none;
    transform: translateY(3px);
}

.day_name{
    margin-top: 10px;
}
.date{
    margin: 5px 0;
    font-weight: bold;
    font-size: 24px;
}
.month{
    margin-bottom: 10px;
}
.tab_day_condition_img img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
}
.max-min_temperature{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.max-min_temperature span{
    border-left: 1px solid #dadce0;
    height: 50px;
    width: 0;
    margin: 0 5px;
}
.max-min_temperature div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38px;
}
.max-min_temperature p{
    color: #9d9d9d;
    font-size: 11px;
}
.max-min_temperature h3{
    font-size: 17px;
    color: #000;
}

/* ////////////////// */

.weather_content_box{
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 0 8px rgb(64 60 67 / 50%);
    border-radius: 10px;
    z-index: 2;
}

.left_weather_content_box{
    display: flex;
    flex-direction: row;
    width: 35%;
    margin-right: 3px;
}

.current_conditions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.chosen_day_name{
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}
.chosen_date{
    font-weight: bold;
    font-size: 54px;
}
.chosen_month{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.current_conditions p{
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0 0 5px;
    color: #777;
}
.condition_img{
    height: fit-content;
    width: fit-content;
}
.condition_img img{
    width: 80;
    height: 80px;
}
.current_temp{
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1;
}
.sun_rise-set{
    margin-top: 5px;
}
.sun_rise-set p{
    font-size: 16px;
    color: #000;
    margin-top: 5px;
}
.sun_rise-set p span{
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

.titles {
    width: 35%;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    padding-top: 128px;
}
.titles p {
    margin: 0;
    font-size: 11px;
    text-align: right;
    line-height: 1.1;
    color: #777;
}
.temp_title{
    padding-top: 11px;
}
.feels_title{
    padding-top:10px;
}
.wind_title{
    padding-top: 23px;
}
.rain_title{
    padding-top: 11px;
}
.snow_title{
    padding-top: 5px;
}

.perHour_table{
    width: 65%;
}