.header{
    width: 100%;
    height: 285px;
}

.header_top{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 40%;
    height: 200px;
}
.logo img {
    width: 200px;
    height: 225px;
}

.search{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.input_box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;
}

.search_city-text{
    width: 80%;
    background-color: transparent;
    border: none;
    margin-left: 12px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    height: 34px;
    font-size: 16px;
}

.input_box span {
    border-left: 1px solid #dadce0;
    height: 65%;
}

.search_city-submit{
    height: 24px;
    width: 24px;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
.search_city-submit path{
    fill: #4285f4;
}

/* ///////// */

.header_bottom{
    margin: 40px 0 10px 10px;
    color: #777;
    font-size: 24px;
    font-weight: normal;
}
.header_bottom p {
    margin-bottom: 0;
}
.header_bottom p strong{
    color:black;
}